%tr
  %td
    = h freemailer_campaign.title
  %td
    = h freemailer_campaign.subject
  %td
    == (#{freemailer_campaign.contacts.count}) #{h freemailer_campaign.contact_names}
  %td
    = h freemailer_campaign.from
  %td
    - if freemailer_campaign.sent
      Sent
      - totals = "(#{freemailer_campaign.successfully_sent}/#{freemailer_campaign.contacts.count})"
      = link_to_function(totals, "Modalbox.show('#{freemailer_campaign_statuses_path(freemailer_campaign)}',{title: 'Mailing Statuses for  \"#{freemailer_campaign.title}\"', width: '450'})")
    - else
      Unsent.
      = link_to 'Send?', freemailer_campaign_send_campaign_path(freemailer_campaign)
  %td
    - if @session_user.active_campaign == freemailer_campaign
      = link_to 'Clear Active', freemailer_campaign_clear_active_path 
    - else
      = link_to 'Make Active', freemailer_campaign_make_active_path(freemailer_campaign)
  %td
    = link_to 'Show', freemailer_campaign
  %td
    = link_to 'Edit', edit_freemailer_campaign_path(freemailer_campaign)
  %td
    = link_to 'Destroy', freemailer_campaign, :confirm => 'Are you sure?', :method => :delete