%h1
  Your Mailing Campaigns
- if @session_user.active_campaign
  %h3
    Active Campaign
    = link_to '(clear active)', freemailer_campaign_clear_active_path
  %p
    %b= @session_user.active_campaign.title
    %br
    %b= @session_user.active_campaign.subject
    = text_area_tag 'Preview', @session_user.active_campaign.preview, :disabled => true, :cols => 40
  = will_paginate @freemailer_campaigns  
- if !@freemailer_campaigns.empty?
  %table
    %tr
      %th Title
      %th Subject
      %th Contacts
      %th From
      %th Status
    - @freemailer_campaigns.each do |freemailer_campaign|
      = render :partial => 'campaign', :locals => {:freemailer_campaign => freemailer_campaign}
- else
  %h3 
    You have none. Create one on the 
    = link_to('Contact Page',  :controller => '/admin/dashboard', :action => :contacts) + '.'
    
= will_paginate @freemailer_campaigns

