%h1
  Your Mailing Campaigns
- if @session_user.active_campaign
  %h3
    Active Campaign
    = link_to '(clear active)', freemailer_campaign_clear_active_path
  %p
    %b= @session_user.active_campaign.title
  %p
    %b= @session_user.active_campaign.subject
    %br
    = text_area_tag 'Preview', @session_user.active_campaign.preview, :disabled => true, :cols => 40
  = will_paginate @freemailer_campaigns  
%table
  %tr
    %th Title
    %th Subject
    %th Contacts
    %th From
    %th Status
  - @freemailer_campaigns.each do |freemailer_campaign|
    = render :partial => 'campaign', :locals => {:freemailer_campaign => freemailer_campaign}
= will_paginate @freemailer_campaigns
