%h1
  Your Mailing Campaigns
%h2
  Active Campaign
%p Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
%table
  %tr
    %th Subject
    %th Title
    %th Contacts
    %th From
    %th Body template
    %th Status
  - @freemailer_campaigns.each do |freemailer_campaign|
    %tr
      %td
        = h freemailer_campaign.subject
      %td
        = h freemailer_campaign.title
      %td
        == (#{freemailer_campaign.contacts.count}) #{h freemailer_campaign.contact_names}
      %td
        = h freemailer_campaign.from
      %td
        - if freemailer_campaign.body_template
          = h freemailer_campaign.body_template[0..75]
      %td
        - if freemailer_campaign.sent
          Sent
        - else
          Unsent.
          = link_to 'Send?', freemailer_campaign_send_campaign_path(freemailer_campaign)
      %td
        = link_to 'Make Active', freemailer_campaign_make_active_path(freemailer_campaign)
      %td
        = link_to 'Show', freemailer_campaign
      %td
        = link_to 'Edit', edit_freemailer_campaign_path(freemailer_campaign)
      %td
        = link_to 'Destroy', freemailer_campaign, :confirm => 'Are you sure?', :method => :delete

