<h1>Editing freemailer_campaign_contact</h1>

<% form_for(@freemailer_campaign_contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :freemailer_campaign_id %><br />
    <%= f.text_field :freemailer_campaign_id %>
  </p>
  <p>
    <%= f.label :contact_id %><br />
    <%= f.text_field :contact_id %>
  </p>
  <p>
    <%= f.label :delivery_status %><br />
    <%= f.text_field :delivery_status %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @freemailer_campaign_contact %> |
<%= link_to 'Back', freemailer_campaign_contacts_path %>