<%= error_messages_for :object => @saved_search %>
<fieldset class="form saved_search">
  <legend><%= @saved_search.new_record? ? "Add Saved Search" : "Edit saved search - \"#{h @saved_search.name_for_display}\"" %></legend>
  <% form_for @saved_search do|f| %>

    <%= f.hidden_field :search_url %>

    <p class="field"><label for="saved_search_name">Name:</label>
    <%= f.text_field :name %>
    </p>

    <p class="field"><label for="saved_search_description">Description:</label><br/>
    <%= f.text_area :description, :size => '40x5' %>
    </p>

    <p class="field"><label for="saved_search_category">Category:</label><br/>
    <%= text_field_with_auto_complete :saved_search, :category %><br/>
    <span class="clarification">A "category" helps group saved searches together. Just start typing a category and you'll get a list of categories already in use.</span>
    </p>

    <p class="field"><%= f.check_box :global_search %><label for="saved_search_global_search">Make this search "global", e.g. available to everyone.</label></p>

    <p>
    <%= submit_tag(@saved_search.new_record? ? "Add Saved Search" : "Edit Saved Search") %>
    </p>
  <% end %>
</form>
