<%= render :partial => '/shared/form_header' %>
<% form_for :saved_search do|f| %>

  <%= f.hidden_field :search %>

  <p class="field"><label for="saved_search_name">Search Name:</label>
  <%= f.text_field :name %>
  </p>

  <p class="field"><label for="saved_search_description">Description:</label><br/>
  <%= f.text_area :description %>
  </p>

  <%= submit_tag(@object.new_record? ? "Add Saved Search" : "Edit Saved Search") %>
<% end %>
<%= render :partial => '/shared/form_footer' %>
