<div id="admin-tabs">
  <%= link_to 'Dashboard', :controller => '/admin/dashboard', :action => :dashboard %>
  <%= link_to 'Contacts', :controller => '/admin/dashboard', :action => :contacts %>
  <%= link_to 'Tags', :controller => '/admin/dashboard', :action => :tags %>
  <%= link_to 'Notes', :controller => '/notes', :action => :my, :id => 'show' %>
  <%= link_to 'Carts', :controller => '/contact_carts' %>
  <%= link_to 'Search', :controller => '/saved_searches' %>
  <%= link_to 'Mail Campaigns', freemailer_campaigns_path %>
</div>
