<div id="bulk-actions" class="section">
  <h3>Bulk Actions</h3>

<h4 id="flyout-apply-bulk-tags" class="toggle hidden tags sub-action"><%= icon(:tag_blue) %> Apply tag(s)</h4>
<div id="flyout-apply-bulk-tags-actions" class="toggle-target tags sub-action" style="display: none;">
  <p>Apply tags to checked contacts.</p>
  <% form_tag(url_for(:controller => '/admin/bulk_action', :action => :bulk_tag), :id => 'apply-tags-form') do %>
    <%= hidden_field_tag 'return_to', url_for(sanitized_url_params) %>
    <%= text_field_tag 'bulk_apply_tags' %>
    <%= submit_tag 'Apply Tags' %><br/>
  <% end %>
<script type="text/javascript" language="javascript">
    document.observe('dom:loaded',function(){
  var ac = new UI.AutoComplete('bulk_apply_tags',{shadow: "auto_complete", tokens: ',', url: '<%= url_for :controller => '/tags', :action => :json_tags %>' });
  ac.observe('input:empty', function(event) {event.memo.autocomplete.showMessage("Please type a tag.")})
  .observe('selection:empty', function(event) {event.memo.autocomplete.showMessage("Not found")});
  });
</script>
</div>

<h4 id="flyout-remove-bulk-tags" class="toggle hidden tags sub-action"><%= icon(:tag_blue) %> Remove tag(s)</h4>
<div id="flyout-remove-bulk-tags-actions" class="toggle-target tags sub-action" style="display: none;">
  <p>Remove tags from the checked contacts.</p>
  <% form_tag(url_for(:controller => '/admin/bulk_action', :action => :bulk_tag_remove), :id => 'remove-tags-form') do %>
    <%= hidden_field_tag 'return_to', url_for(sanitized_url_params) %>
    <%= text_field_tag 'bulk_remove_tags' %><%= submit_tag 'Remove tags' %><br/>
  <% end %>
<script type="text/javascript" language="javascript">
    document.observe('dom:loaded',function(){
  var ac = new UI.AutoComplete('bulk_remove_tags',{shadow: "auto_complete", tokens: ',', url: '<%= url_for :controller => '/tags', :action => :json_tags %>' });
  ac.observe('input:empty', function(event) {event.memo.autocomplete.showMessage("Please type a tag.")})
  .observe('selection:empty', function(event) {event.memo.autocomplete.showMessage("Not found")});
  });
</script>
</div>
  <h4 id="flyout-bulk-note" class="toggle hidden tags sub-action"><%= icon(:user) %>Add a note</h4>
  <div id="flyout-bulk-note-actions" class="toggle-target tags sub-action" style="display: none;">
    <p>Add a note to the checked contacts.</p>
  <% form_tag(url_for(:controller => '/admin/bulk_action', :action => :bulk_note), :id => 'bulk-note') do %>
    <%= hidden_field_tag 'return_to', url_for(sanitized_url_params) %>
<p class="field"><label for="note">Note:</label><br/> 
<%= text_area_tag 'note', '', :size => '35x5' %><br />
Due Date: <%= calendar_date_select_tag "follow_up", '', :time => true, :minute_interval => 15 %><br />
<label for="priority">Priority:</label> <%= text_field_tag 'priority','', {:size => 3} %><br/>
<%= submit_tag 'Add a note' %>
<% end %>
</p>
  </div>

  <h4 id="flyout-bulk-contact-delete" class="toggle hidden tags sub-action"><%= icon(:user) %> Delete checked contacts</h4>
  <div id="flyout-bulk-contact-delete-actions" class="toggle-target tags sub-action" style="display: none;">
  <% form_tag(url_for(:controller => '/admin/bulk_action', :action => :bulk_contact_delete), :id => 'bulk-delete-contacts') do %>
    <%= hidden_field_tag 'return_to', url_for(sanitized_url_params) %>
    <%= submit_tag 'Delete checked contacts.' %><br/>
  <% end %>
</div>

<h4 id="flyout-bulk-create-mail-campaign" class="toggle hidden tags sub-action"><%= icon(:email_add) %> <%= if @session_user.active_campaign.nil?; 'Create'; else; 'Update'; end %> Mail Campaign</h4>
<div id="flyout-bulk-create-mail-campaign-actions" class="toggle-target tags sub-action" style="display: none;">
  <% form_tag(url_for(:controller => '/admin/bulk_action', :action => :bulk_create_campaign), :id => 'bulk-create-campaign') do %>
    <% if @session_user.active_campaign.nil? %>
      <label for="title">Title:</label> <%= text_field_tag 'title',"#{@session_user.username} - #{Date.today}" %>
      <br/>
    <% end %>
    <%= hidden_field_tag 'return_to', url_for(sanitized_url_params) %>
    <%= submit_tag 'Add Selected Contacts to Mail Campaign' %><br/>
    <% if !@session_user.active_campaign.nil? %>
      <%= link_to 'Delete my Active Mail Campaign', @session_user.active_campaign, :confirm => "Are you sure you want to delete \"#{@session_user.active_campaign.title}\"?", :method => :delete %>
    <% end%>
  <% end %>
</div>

<h4 id="flyout-bulk-contact-cart" class="toggle hidden tags sub-action"><%= icon(:cart) %>Contact Cart</h4>
<div id="flyout-bulk-contact-cart-actions" class="toggle-target tags sub-action" style="display: none;">
  <% form_tag(url_for(:controller=>'/admin/contact_cart',:action=>:create), :id => 'bulk-contact-cart') do %>
    <% if @session_user.active_contact_cart.nil? %>
      <label for="title">Title:</label> <%= text_field_tag 'title',"#{@session_user.username} - #{Date.today}" %>
      <br/>
      <%= hidden_field_tag 'return_to', url_for(sanitized_url_params) %>
      <%= submit_tag 'Add Selected Contacts to Cart' %><br/>
    <% else %>
      <%= link_to 'Delete my Active Contact Cart', @session_user.active_contact_cart, :confirm => "Are you sure you want to delete your active contact cart?", :method => :delete, :controller => '/admin/contact_cart' %>
    <% end %>
  <% end %>
</div>


</div>
