<tr>
  <td valign="top">
    <%= check_box_tag 'contact_ids[]', contact_line.id, false, :class=> 'contact-selector' %>
  </td>
  <td valign="top">
    <%= link_to icon('cross'), contact_url(contact_line), {:method => :delete, :confirm => "Are you sure? This will delete all traces of this contact - taggings, notes, emails, etc."} %>
  </td>
  <td class="name" valign="top">
    <%= link_to contact_line.name_for_display, contact_url(contact_line) %><br/>
  </td>
  <td valign="top">
    <%= contact_line.updated_at.to_s(:compact_datetime) %>
  </td>
  <td valign="top">
    <%= (contact_line.contact_emails.blank? ? '' : mail_to(contact_line.primary_email) + ', ' + ((contact_line.contact_emails.length - 1 )).to_s + ' others') %>
  </td>
  <td valign="top">
    <%= create_compact_object_widget('note',contact_line,:manage_notes) %>
  </td>
  <td valign="top">
    <%= create_compact_object_widget('tag',contact_line,:manage_tags) %>
  </td>
</tr>
<tr id="add-new-note-<%= contact_line.id %>" style="display: none;">
  <td colspan="7">
      <div class="note-count"><span id="note-count-<%= contact_line.id %>"><%= contact_line.notes.length.to_s %></span> note(s)</div>
      <div class="error" id="note-failure-<%= contact_line.id %>"></div>
      <% form_tag new_note_url do -%>
        <%= render(:partial => 'shared/new_note', :locals => {:contact => contact_line, :success_update => 'note-count-' + contact_line.id.to_s, :failure_update => 'note-failure-' + contact_line.id.to_s, :size => '60x5', :update_counts_only => 1, :no_ajax => false}) %>
      <% end -%>
  </td>
</tr>
<tr id="manage-tags-<%= contact_line.id %>" style="display: none;">
  <td colspan="7">
    <div id="tag-details-<%= contact_line.id %>">
      <%= render :partial => 'shared/manage_tags', :locals => {:contact_line => contact_line, :standalone => true, :init_observer => false} %>
  </div>
</td>
</tr>
