<div class="note" id="note-<%= dnote.id %>">
  <div class="meta"><%= link_to(icon(:cross), note_path(:redirect_after => url_for(params), :id => dnote), {:method => :delete, :confirm => 'Are you sure?'}) -%><%= link_to dnote.contact.name_for_display, contact_url(dnote.contact) %> : <%= dnote.created_at_for_display %> by <%= dnote.user.username %></strong>
</div>
<div class="meta"><% unless dnote.priority.blank? %><span class="priority level-<%= dnote.priority %>">Priority: <%= dnote.priority %></span> <% end %><% unless dnote.follow_up.blank? %><br/><span class="follow-up">Follow-up on <%= dnote.follow_up.to_s(:compact_datetime) %></span><% end %></div>
  <div class="note-content"><%= RedCloth.new(dnote.note).to_html %></div>
</div>
