<li class="pui-autocomplete-box" id="tag-<%= contact.id %>_<%= existing_tags.id %>">
  <span><%= existing_tags.hierarchical_title %></span>
  <%= hidden_field_tag 'contact[tag_ids][]', existing_tags.id %>
  <%= link_to_function('',"remove_tag('#{contact.id}_#{existing_tags.id}')") %>
</li> 
