<div id="add-new-note-<%= @contact.id %>" class="manage-notes">
  <% unless @contact.new_record? %>
    <div class="error" id="existing-notes-error-<%= @contact.id %>"></div>
    <%= render :partial => 'shared/note_list' %>
    <h3>New Note:</h3>
    <p class="field">
    <% form_for url_for(:controller => "/admin/note", :action => :edit) do %>
      <%= render :partial => 'shared/new_note' , :locals => {:contact => @contact , :success_update => "existing-notes-#{@contact.id}", :failure_update => "existing-notes-error-#{@contact.id}", :size => '40x4', :update_counts_only => 0, :no_ajax => false}%>
    <% end %>
    </p>
  <% else %>
    <h3>Add a note:</h3>
    <p class="field" id="new-note">
    <% form_for url_for(:controller => "/admin/note", :action => :edit) do %>
      <%= render :partial => 'shared/new_note' , :locals => {:contact => @contact , :success_update => 'existing-notes', :failure_update => 'existing-notes-error', :size => '40x4', :update_counts_only => 0, :no_ajax => true}%>
    <% end %>
    </p>
  <% end %>
</div>
