<tr class="note" id="note-<%= note.id %>">
  <td>
    <%= link_to_remote(icon(:cross), {:update => "existing-notes-#{note.contact.id}", :url => {:controller => 'admin/note', :action => :destroy, :id => note}, :method => :post, :confirm => 'Are you sure?'}) -%>
  </td>
  <td>
    <%= RedCloth.new(note.note).to_html %>
  </td>
  <td>
    <% unless note.priority.blank? %>
      <%= note.priority %>
    <% end %>
  </td>
  <td>
    <% unless note.follow_up.blank? %>
      <%= note.follow_up_for_display %>
    <% end %>
  </td>
  <td>
    <strong>Added at:</strong> <%= note.created_at_for_display %><br />
    <strong>By:</strong> <%= note.user.username %></strong>
  </td>
</tr>
<% if new_object_id == note.id %>
  <%= javascript_tag visual_effect :pulsate, 'note-' + note.id.to_s %>
  <%= javascript_tag 'Modalbox.resizeToContent()' %>
<% end %>
