<tr class="note" id="note-<%= note.id %>">
  <td valign="top">
    <%= link_to_remote(icon(:cross), {:complete => "$('contact-note-count-#{note.contact.id}').update(parseInt($('contact-note-count-#{note.contact.id}').innerHTML) - 1);Modalbox.resizeToContent()", :update => "existing-notes-#{note.contact.id}", :url => {:controller => 'admin/note', :action => :destroy, :id => note}, :method => :post, :confirm => 'Are you sure?'}) -%>
  </td>
  <td valign="top">
    <%= h note.note %>
    <div class="meta"><%= note.created_at_for_display %> by <%= note.user.username %></div>
  </td>
  <td valign="top">
    <% unless note.priority.blank? %>
      <%= note.priority %>
    <% end %>
  </td>
  <td valign="top">
    <% unless note.follow_up.blank? %>
      <%= note.follow_up_for_display %>
    <% end %>
  </td>
</tr>
<% if new_object_id == note.id %>
  <%= javascript_tag visual_effect :pulsate, 'note-' + note.id.to_s %>
  <%= javascript_tag 'Modalbox.resizeToContent()' %>
<% end %>
