<tr>
  <td><%= link_to(icon(:cross), saved_search_path(:id => saved_search, :redirect_after => url_for(params)), {:method => :delete, :confirm => 'Are you sure?'}) -%></td>
  <td><%= saved_search.category %></td>
  <td><%= saved_search.name %></td>
  <td><%= link_to('link', :action => :run, :id => saved_search.name) %></td>
</tr>
<% unless saved_search.description.blank? %>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3"><%= saved_search.description %></td>
  </tr>
<% end %>
