<% form_tag url_for, {:id => 'searchform'} do %>
  <% url_params = params 
  url_params.delete('authenticity_token') %>
  <div><%= link_to('Permalink to this search',url_for(url_params)) %></div>
  <%= text_field_tag :q, params[:q] %><%= submit_tag 'go' %> <%= link_to_function('reset search',"Form.Element.setValue('q',''); $('searchform').submit()") %> | <%= link_to_function('help',"Modalbox.show('/search-help.html',{title: 'Search help', width: '800'})") %>
  <h4 id="flyout-tag-filter" class="toggle hidden">Filter by tags</h4>
  <div id="flyout-tag-filter-actions" class="toggle-target">
    Look in these tags: <%= text_field_tag 'look_in_tags' %><br/>
    Exclude these tags: <%= text_field_tag 'exclude_tags' %>
<script type="text/javascript" language="javascript">
  <% unless request.xhr? %>
    document.observe('dom:loaded',function(){
  <% end %>
  var ac = new UI.AutoComplete('look_in_tags',{shadow: "auto_complete", tokens: ',', url: '<%= url_for :controller => '/admin/tag', :action => :json_tags %>' });
  ac.observe('input:empty', function(event) {event.memo.autocomplete.showMessage("Please type a tag.")})
  .observe('selection:empty', function(event) {event.memo.autocomplete.showMessage("Not found")});
  var ac2 = new UI.AutoComplete('exclude_tags',{shadow: "auto_complete", tokens: ',', url: '<%= url_for :controller => '/admin/tag', :action => :json_tags %>' });
  ac2.observe('input:empty', function(event) {event.memo.autocomplete.showMessage("Please type a tag.")})
  .observe('selection:empty', function(event) {event.memo.autocomplete.showMessage("Not found")});
  <% unless request.xhr? %>
});
  <% end %>
</script>
  </div>
<% end %>
