<% form_tag url_for, {:id => 'searchform'} do %>
<div id="searchmeta">
  <strong>Search:</strong> 
  <% unless url_for == url_for(sanitized_url_params) %>
    <%= link_to(icon('script_link') + ' Permalink',url_for(sanitized_url_params)) %> 
    <%= link_to(icon('script_save') + ' Save',:controller => '/admin/saved_search', :action => :edit, :search_url => url_for(sanitized_url_params)) %>
    <%= link_to(icon('script_delete') + ' Reset',url_for) %> 
  <% end %>
    <%= link_to_function(icon('help') + ' Help',"Modalbox.show('#{url_for('/search-help.html')}',{title: 'Search help', width: '800'})") %>
</div>
  <%= text_field_tag :q, params[:q] %><%= submit_tag 'go' %> 
  <h4 id="flyout-tag-filter" class="toggle hidden saved-searches">Filter by tags</h4>
  <div id="flyout-tag-filter-actions" class="toggle-target saved-searches">
    Look in these tags:<br/> 
    <ul class="pui-autocomplete-holder" style="border: none;" id="existing-tags-10">
      <%= render :partial => 'shared/existing_tags', :collection => @included_tags_for_output, :locals => {:object_id => 10, :param_name => 'included_tags[]'} %>
    </ul>
    <%= text_field_tag 'tags_to_include' %><br/>
    Exclude these tags:<br/> 
    <ul class="pui-autocomplete-holder" style="border: none;" id="existing-tags-11">
      <%= render :partial => 'shared/existing_tags', :collection => @excluded_tags_for_output, :locals => {:object_id => 11, :param_name => 'excluded_tags[]'} %>
    </ul>
    <%= text_field_tag 'tags_to_exclude' %>
<script type="text/javascript" language="javascript">
  <% unless request.xhr? %>
    document.observe('dom:loaded',function(){
  <% end %>
  var ac = new UI.AutoComplete('tags_to_include',{shadow: "auto_complete", tokens: ',', url: '<%= url_for :controller => '/admin/tag', :action => :json_tags %>' });
  ac.observe('input:empty', function(event) {event.memo.autocomplete.showMessage("Please type a tag.")})
  .observe('selection:empty', function(event) {event.memo.autocomplete.showMessage("Not found")});
  var ac2 = new UI.AutoComplete('tags_to_exclude',{shadow: "auto_complete", tokens: ',', url: '<%= url_for :controller => '/admin/tag', :action => :json_tags %>' });
  ac2.observe('input:empty', function(event) {event.memo.autocomplete.showMessage("Please type a tag.")})
  .observe('selection:empty', function(event) {event.memo.autocomplete.showMessage("Not found")});
  <% unless request.xhr? %>
});
  <% end %>
</script>
  </div>
<% end %>
