<h4 id="flyout-bulk-contact-cart" class="toggle hidden tags sub-action"><%= icon(:cart) %>Contact Cart</h4>
<div id="flyout-bulk-contact-cart-actions" class="toggle-target tags sub-action" style="display: none;">
  <% cart = @session_user.active_contact_cart %>
  <% if !cart.nil? %>
    <h4><%= "#{cart.title} (#{cart.contacts.count})" %></h4>
    <%= render :partial => 'contact_carts/contacts', :locals => { :cart => cart } %>
  <% end %>
  <% form_tag(url_for(:controller=>'/contact_carts',:action=>:create), :id => 'bulk-contact-cart') do %>
    <% if cart.nil? %>
      <label for="title">Title:</label>
      <%= text_field_tag 'title', "#{@session_user.username}'s cart - #{Date.today}" %>
      <br/>
    <% end %>
    <%= hidden_field_tag '_redirect_to', url_for(sanitized_url_params) %>
    <% if cart.nil? || (cart && @session_user == cart.user) %>
      <%= submit_tag 'Add Contacts' %>
      <br/>
    <% end %>
    <% if !cart.nil? && @session_user == cart.user %>
      <%= link_to show_icon_with_text(:cart_delete, 'Deactivate'), contact_cart_clear_active_path(:_redirect_to => url_for(sanitized_url_params)) %>
    <% end %>
  <% end %>
</div>
