.carts
  %p
    - contact_carts.each do |cart|
      %b Title:
      = cart.title
      %br
      - if cart.user != @session_user
        %b Owner:
        = cart.user.username
        %br
      %b== Contacts (#{cart.contacts.count}):
      %ul
        - cart.contacts.each do |contact|
          %li= contact.name_for_display
      %br
      
      - if cart != @session_user.active_contact_cart
        = link_to 'Make Active', contact_cart_make_active_path(cart)
        |
      = link_to 'Show', cart
      - if cart.user == @session_user
        |
        = link_to 'Edit', edit_contact_cart_path(cart)
        |
        = link_to 'Destroy', cart, :confirm => 'Are you sure?', :method => :delete
      %br
      %br