%h1
  Editing contact_cart
- form_for(@contact_cart) do |f|
  = f.error_messages
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :global
    %br
    = f.check_box :global
  %p
    = f.submit 'Update'

= link_to 'Show', @contact_cart
|
= link_to 'Back', contact_carts_path
