<h1>Editing contact_cart</h1>
<% form_for(@contact_cart) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :title %><br/>
  <%= f.text_field :title %></p>
  <p><%= f.label :global %><br/>
  <%= f.check_box :global %></p>
  <p><%= f.submit 'Update' %></p>
<% end %>
<%= link_to 'Show', @contact_cart %> | <%= link_to 'Back', contact_carts_path %>
