<h1>Listing contact_carts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Global</th>
  </tr>

<% @contact_carts.each do |contact_cart| %>
  <tr>
    <td><%=h contact_cart.user_id %></td>
    <td><%=h contact_cart.name %></td>
    <td><%=h contact_cart.global %></td>
    <td><%= link_to 'Show', contact_cart %></td>
    <td><%= link_to 'Edit', edit_contact_cart_path(contact_cart) %></td>
    <td><%= link_to 'Destroy', contact_cart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_cart', new_contact_cart_path %>