<%= render :partial => '/shared/form_header' %>
<% form_for :contact do|f| %>
  <h2 id="flyout-contact-personal-info" class="toggle shown">Personal Info</h2>
  <div id="flyout-contact-personal-info-actions" class="toggle-target defaultopen">
    <% %W|first_name middle_name last_name title organization|.each do|field| %>
      <p class="field"><%= f.label field.to_sym %>
      <%= f.text_field field.to_sym %>
      </p>
    <% end %>
  </div>

  <h2 id="flyout-contact-address-info" class="toggle shown">Address Info</h2>
  <div id="flyout-contact-address-info-actions" class="toggle-target defaultopen">
    <% unless @contact.new_record? %>
      <% unless @contact.contact_addresses.blank? %>
        <p class="field" id="contact-addresses">
        <h3>Existing Addresses</h3>
        <table border="0">
          <%= render :partial => 'shared/contact_address_edit', :collection => @contact.contact_addresses %>
        </table>
        </p>
      <% end %>
    <% end %>
    <p class="field" id="new-addresses">
    <h3>Add Addresses</h3>
    <table border="0">
      <%= render :partial => 'shared/new_address', :collection => [1,2] %>
    </table>
    <span class="note">If you select a new address as the primary address, it will take precedence over any existing primary addresses.</span>
    </p>
  </div>

  <h2 id="flyout-contact-contact-info" class="toggle shown">Contact Info</h2>
  <div id="flyout-contact-contact-info-actions" class="toggle-target defaultopen">
    <% [:work_phone,:mobile_phone,:home_phone, :fax].each do |field| %>
      <p class="field"><%= f.label field %>
      <%= f.text_field field, :size => 15 %>
      </p>
    <% end %>
    <% [:work_url, :personal_url, :other_url].each do|field| %>
      <p class="field"><%= f.label field %>
      <%= f.text_field field %>
      </p>
    <% end %>
    <% unless @contact.new_record? %>
      <% unless @contact.contact_emails.blank? %>
        <p class="field" id="contact-emails">
        <h3>Existing Email Addresses</h3>
        <table border="0">
          <%= render :partial => 'shared/contact_email_edit', :collection => @contact.contact_emails %>
        </table>
        </p>
      <% end %>
    <% end %>
    <p class="field" id="new-emails">
    <h3>Add Email Addresses</h3>
    <table border="0">
      <%= render :partial => 'shared/new_email', :collection => [1,2,3] %>
    </table>
    <span class="note">If you select a new email address as the primary address, it will take precedence over any existing primary addresses.</span>
    </p>
  </div>
  <%= submit_tag(@contact.new_record? ? "Add Contact" : "Edit Contact") %>
<% end %>
<%= render :partial => '/shared/form_footer' %>

<% if @contact.new_record? %>

<script type="text/javascript">
  document.observe('dom:loaded',function(){
      ac = new UI.AutoComplete('new_tags',{shadow: "auto_complete", tokens: ',', url: '<%= url_for :controller => '/admin/tag', :action => :json_tags %>' });
      ac.observe('input:empty', function(event) {event.memo.autocomplete.showMessage("Type a tag. New tags should be comma-separated.")})
      .observe('selection:empty', function(event) {event.memo.autocomplete.showMessage("Nothing found")});
      });
</script>
<% end %>
