<%= render :partial => '/shared/form_header' %>
  <% form_for :contact do|f| %>

    <h2 id="flyout-contact-personal-info" class="toggle">Personal Info</h2>
    <div id="flyout-contact-personal-info-actions" class="toggle-target defaultopen">
      <% %W|first_name last_name work_url personal_url|.each do|field| %>
      <p class="field"><label for="contact_<%= field %>"><%= field.humanize %></label>
        <%= f.text_field field.to_sym %>
      </p>
    <% end %>
    </div>

    <h2 id="flyout-contact-address-info" class="toggle">Address Info</h2>
    <div id="flyout-contact-address-info-actions" class="toggle-target defaultopen">
    <p class="field"><label for="contact_street1">Address Line 1:</label>
        <%= f.text_field :street1 %>
    </p>
    </div>
    <%= submit_tag(@contact.new_record? ? "Add Contact" : "Edit Contact") %>
  <% end %>
<%= render :partial => '/shared/form_footer' %>
