<%= render :partial => '/shared/form_header' %>
  <% form_for :tag do|f| %>
    <p class="field"><label for="tag_tag"></label>
      <%= f.text_field :tag %>
    </p>
    <p class="field"><label for="tag_description">Description:</label>
      <%= fckeditor_textarea( :tag, :description, :height => '220' ) %>
    </p>
    <p class="field"><label for="tag_parent_id">Parent tag:</label>
      <%= f.select :parent_id, Tag.select_options %>
    </p>
    <%= submit_tag @tag.new_record? ? "Add Tag" : "Edit Tag" %>
  <% end %>
<%= render :partial => '/shared/form_footer' %>
