<div id="contacts-update">
  <%= render :partial => 'shared/exports' %>
  <h1>Contacts</h1>
  <%= render :partial => 'shared/search_form', :locals => {:update => 'contacts-update'} %>
  <%= render :partial => 'shared/bulk_contact_actions' %>
  <% unless @contacts.blank? %>
    <div id="admin-list">
      <table border="0" width="100%">
        <tr class="table-header">
          <th><%= check_box_tag :toggle_selects, 1, false, :id => 'toggle-contact-selects' %></th>
          <th>&nbsp;</th>
          <th class="<%= sorted_class('contacts','last_name') %>"><%= link_to 'Name', sort_param('contacts', :alias => 'last_name').merge({:q => params[:q]}) %></th>
          <th class="<%= sorted_class('contacts','updated_at') %>"><%= link_to 'Last Updated', sort_param('contacts', :alias => 'updated_at').merge({:q => params[:q]}) %></th>
          <th>Emails:</th>
          <th>Notes:</th>
          <th>Tags:</th>
        </tr>
        <%= render :partial => 'shared/contact_line', :collection => @contacts %>  
      </table>
    </div>
    <%= will_paginate @contacts, :params => {:q => params[:q]} %>
  <% else %>
    <h2>No contacts found.</h2>
  <% end %>
  <div class="new-object">
    <%= link_to(icon(:add) + ' New contact', :action => :edit) %>
  </div>
</div>
