<div class="contact-details">

<h1><%= @contact.name_for_display %> <span style="font-size: smaller;"><%= link_to('edit', :controller => "/admin/contact", :action => :edit, :id => @contact) %></h1>
<dl>
  <% unless @contact.contact_emails.blank? %>
    <dt>Email (bold is primary):</dt>
    <dd><strong><%= mail_to(@contact.get_primary_email.email) %>, <%= @contact.get_primary_email.email_type %></strong></dd>
    <% unless @contact.get_non_primary_emails.blank? %>
      <% @contact.get_non_primary_emails.each do|ce| %>
        <dd><%= mail_to(ce.email) %>, <%= ce.email_type %></dd>
      <% end %>
    <% end %>
  <% end %>
  <% ['organization','title','phone'].each do |field| %>
    <% unless @contact.send(field).blank? %>
      <dt><%= field.titleize %>:</dt>
      <dd><%= @contact.send(field) %></dd>
    <% end %>
  <% end %>
</dl>
<% unless @contact.tags.blank? %>
  <p><strong>Tags:</strong>
    <%= render :partial => 'shared/tag_display', :collection => @contact.tags %>
  </p>
<% end %>

<h2 id="flyout-note-list" class="toggle">Notes</h2>
<div id="flyout-note-list-actions" class="toggle-target">
  <%= render :partial => 'shared/manage_notes' %> 
</div>

<h2>Log</h2>
<h2>Address info</h2>
<h2>Contact Info</h2>
</div>
