<li class="item">
<%= check_box_tag 'contact_ids[]', contact.id, false, :class=> 'contact-selector' %> <%= link_to(contact.name_for_display, :controller => '/admin/contact', :action => :show, :id => contact )%>
<% unless contact.primary_email.blank? %>, <%= mail_to(contact.primary_email) %><% end %><br />
  <div class="details" style="display: none;"><%= link_to('edit', :controller => '/admin/contact', :action => :edit, :id => contact) %> |
    <%= create_compact_object_widget('note',contact,:manage_notes) %>
    <%= create_compact_object_widget('tag',contact,:manage_tags) %>
    <%= h contact.send(display_method) %>
  </div>
</li>
