<h1>My notes</h1>
FIXME
<% form_for do %>
  <%= text_field_tag :q %>
<% end %>
<table border="0">
  <tr>
    <th>&nbsp;</th>
    <th class="<%= sorted_class('notes','contact') %>"><%= link_to 'Contact', sort_param('notes', :alias => 'contact') %></th>
    <th class="<%= sorted_class('notes','priority') %>"><%= link_to 'Priority', sort_param('notes', :alias => 'priority') %></th>
    <th class="<%= sorted_class('notes','follow_up') %>"><%= link_to 'Follow up', sort_param('notes', :alias => 'follow_up') %></th>
  </tr>
  <%= render :partial => 'shared/dnote', :collection => @notes, :locals => {:new_object_id => nil, :show_contact => true} %>
</table>

