<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @html_title || controller.controller_path.to_s.gsub('/',' ').titleize %></title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'prototype-ui' %>
    <%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
    <%= javascript_include_tag 'modalbox' %>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'calendar_date_select/default' %>
  </head>
  <body>
    <div id="page">
      <div id="header">
          <% if @session_user %>
            <%= render :partial => '/shared/admin_bar' %>
          <% end %>
      </div><!-- /#header -->

      <div id="main-wrapper">
        <div id="main">
          <div id="content-wrapper">
            <div id="content">
              <%= render :partial => '/shared/messages', :object => 'error' %>
              <%= render :partial => '/shared/messages', :object => 'notice' %>
              <% unless session[:saved_search_ran].blank? %>
                <%= render :partial => '/shared/saved_search_ran_notification', :locals => {:ss => session[:saved_search_ran]} %>
                <% session[:saved_search_ran] = nil %>
              <% end %>
              <%= yield %>
            </div>
          </div>
          <div id="right-column-wrapper">
            <div id="right-column">
              <%= render :partial => resolve_right_column_partial %>
            </div>
          </div>
          <div class="clear"></div>
          <div id="footer">footer</div><!-- /#footer -->
        </div><!-- /#main -->
      </div><!-- /#main-wrapper -->

    </div><!-- /#page -->
  </body>
</html>
